<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Activity Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Belanja</div>
        <hr>
        <p> Nama Sayur   : <b th:text="${namaSayur}"></b>
        <p> Harga Perkilo: Rp.<b th:text="${harga}"></b>
        <p> Jumlah Beli  : <b th:text="${jumlah}"></b>
        <p> Uang Bayar   : Rp.<b th:text="${bayar}"></b>
        <p> Harga Sebelum Diskon   : Rp.<b th:text="${totalAwal}"></b>
        <p> Harga Sesudah Diskon   : Rp.<b th:text="${totalAkhir}"></b>
        <p> Kembalian   : Rp.<b th:text="${kembalian}"></b>
        <hr>
    </body>
</html>
